.woocommerce-order-rules-wrapper {
  input[type="submit"] {
    margin-top: 10px;
  }

  legend {
    font-weight: bold;
    margin: 10px 0;
  }

  fieldset {
    margin-top: 10px;

    div {
      display: flex;
      flex-wrap: wrap;
    }

    span {
      margin: 10px;
    }

    label {
      padding: 10px;
    }
  }
}

.delete-order-rule a {
  color: #b32d2e;
}